@value colors: "../../style/color.less";
@value primary-color from colors;

.userInfo {
  z-index: 9;
  position: absolute;
  right: 0;
  top: 4px;
  margin-right: 20px;
  i {
    font-size: 26px;
  }
}

.header {
  position:fixed;
  width: 100%;
  top:0;
  left: 0;
  background-color: primary-color;
  height: 40px;
}
