@value colors: "../../style/color.less";
@value primary-color from colors;

.userInfo {
  i {
    font-size: 26px;
  }
}

.header {
  position:fixed;
  width: 100%;
  top:0;
  left: 0;
  background-color: primary-color;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.inputSearch {
  margin: auto;
}

